In [12]:
import pandas as pd
from sklearn import preprocessing

In [2]:
df = pd.read_csv("../input/train_cat.csv")

In [3]:
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

In [5]:
df.bin_4.value_counts()

N    312344
Y    269609
Name: bin_4, dtype: int64

In [6]:
df.nom_0.value_counts()

Red      323286
Blue     205861
Green     52601
Name: nom_0, dtype: int64

In [8]:
df.ord_2.value_counts()

Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
Name: ord_2, dtype: int64

In [9]:
df.day.value_counts()

3.0    113835
5.0    110464
6.0     97432
7.0     86435
1.0     84724
2.0     65495
4.0     23663
Name: day, dtype: int64

In [10]:
df.month.value_counts()

8.0     79245
3.0     70160
5.0     68906
12.0    68340
6.0     60478
7.0     53480
1.0     52154
11.0    51165
2.0     40700
9.0     20620
4.0     14614
10.0     2150
Name: month, dtype: int64

In [11]:
df.target.value_counts()

0    487677
1    112323
Name: target, dtype: int64

In [35]:
lbl = preprocessing.OneHotEncoder()
lbl.fit(df[["bin_0", "bin_1"]].fillna(-1).values)

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=True)

In [36]:
lbl.transform(df[["bin_0", "bin_1"]].fillna(-1))

<600000x6 sparse matrix of type '<class 'numpy.float64'>'
	with 1200000 stored elements in Compressed Sparse Row format>